<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiration</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">

    <!--Linking to other files-->
</head>
<body>
    <main>
        <div class="weather">
            <h1>Choose an option</h1>
            <form action="/weather" method="post">
                <select name = "dropdown">
                <option value = "temperature" selected>Temperature</option>
                <option value = "pressure">Pressure</option>
                <option value = "humidity">Humidity</option>
                <input type="submit" value="Send" />
                </form>
                </body> 
            </form> 
        <a href="/about">< About</a>

            <!---- changes the form to message.  Form:-->
            <!--Input creates the button-->
            <!--Post request-->

        </div> 
    </main> 
</body>
</html>